# git
.git

# Mac
.DS_Store
._*

# python
__pycache__

# protobuf generated python
*pb2.py

# build files
build/
build-*/
CMakeLists.txt.*

# Local test files
roms/
venv/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
